<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/user/login.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        <form th:action="@{/registration}" method="get">
            <button type="submit" class="btn btn-md btn-warning btn-block">Go To Registration Page</button>
        </form>

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form action="#" th:action="@{/login}" th:object="${user}" method="post" class="form-horizontal" role="form">
                        <br><h2>Welcome</h2><br/>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <label for="username" class="validation-message"></label>
                                <input type="text" id="username" th:field="*{username}" placeholder="Username" class="form-control" autofocus/>
                                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <label for="password" class="validation-message"></label>
                                <input id="password" name="password" type="password" th:field="*{password}" placeholder="Password" class="form-control"/>
                                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit" name="submit" class="btn btn-primary btn-block">LOGIN</button>
                            </div>
                        </div>

                        <div th:if="${param.error}">
                            <p style="color: #FF0000;">User or Password invalid, please verify</p>
                        </div>

                        <div th:if="${param.logout}">
                            You have been logged out.
                        </div>

                        <span th:text="${errorMessage}"></span>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>